#sun-attr {
    display: none;
    position: relative;
    height: 40vw;
    width: fit-content;
    margin: 4%;
    overflow-y: scroll;
    overflow-x: visible;
    scrollbar-color: rgb(119, 174, 175) rgb(119, 174, 175, 0.5);
}

#moon-attr {
    display: none;
    position: relative;
    height: 40vw;
    width: fit-content;
    margin: 4%;
    overflow-y: scroll;
    overflow-x: visible;
    scrollbar-color: rgb(119, 174, 175) rgb(119, 174, 175, 0.5);
}

#mars-attr {
    display: none;
    position: relative;
    height: 40vw;
    width: fit-content;
    margin: 4%;
    overflow-y: scroll;
    overflow-x: visible;
    scrollbar-color: rgb(119, 174, 175) rgb(119, 174, 175, 0.5);
}

#mercury-attr {
    display: none;
    position: relative;
    height: 40vw;
    width: fit-content;
    margin: 4%;
    overflow-y: scroll;
    overflow-x: visible;
    scrollbar-color: rgb(119, 174, 175) rgb(119, 174, 175, 0.5);
}

#jupiter-attr {
    display: none;
    position: relative;
    height: 40vw;
    width: fit-content;
    margin: 4%;
    overflow-y: scroll;
    overflow-x: visible;
    scrollbar-color: rgb(119, 174, 175) rgb(119, 174, 175, 0.5);
}

#venus-attr {
    display: none;
    position: relative;
    height: 40vw;
    width: fit-content;
    margin: 4%;
    overflow-y: scroll;
    overflow-x: visible;
    scrollbar-color: rgb(119, 174, 175) rgb(119, 174, 175, 0.5);
}

#saturn-attr {
    display: none;
    position: relative;
    height: 40vw;
    width: fit-content;
    margin: 4%;
    overflow-y: scroll;
    overflow-x: visible;
    scrollbar-color: rgb(119, 174, 175) rgb(119, 174, 175, 0.5);
}

#rahu-attr {
    display: none;
    position: relative;
    height: 40vw;
    width: fit-content;
    margin: 4%;
    overflow-y: scroll;
    overflow-x: visible;
    scrollbar-color: rgb(119, 174, 175) rgb(119, 174, 175, 0.5);
}

#ketu-attr {
    display: none;
    position: relative;
    height: 40vw;
    width: fit-content;
    margin: 4%;
    overflow-y: scroll;
    overflow-x: visible;
    scrollbar-color: rgb(119, 174, 175) rgb(119, 174, 175, 0.5);
}

.fixed-row {
    position: sticky;
    top: 0;
    background-color: rgb(119, 174, 175);
    color: white;
    z-index: 2;
}