.doc {
    margin: 2%;
    padding-bottom: 5%;
}

.topic {
    font-size: xx-large;
}

.sub-topic {
    font-size: x-large;
}

.topic,
.sub-topic {
    font-weight: normal;
    color: rgb(119, 174, 175);
}