{{ define "analysis" }}
<!DOCTYPE html>
<html>
    {{ template "header" . }}
    <body>
        {{ template "navbar" . }}
        <section>
            <div class="analysis-toc">
                <menu class="analysis-toc-area">
                    <a class="analysis-toc-link" href="#" onClick="showContent('charts');">{{ .Vocab.Chart }}</a>
                    <a class="analysis-toc-link" href="#" onClick="showContent('grahas');">{{ .Vocab.Graha }}</a>
                    <a class="analysis-toc-link" href="#" onClick="showContent('bhavas');">{{ .Vocab.Bhava }}</a>
                </menu>
            </div>
            <div id="analysis-charts">
                {{ template "charts" . }}
            </div>
            <div id="analysis-grahas">
                {{ template "grahas" . }}
            </div>
            <div id="analysis-bhavas">
                {{ template "bhavas" . }}
            </div>
        </section>
    	{{ template "footer" . }}
    </body>
</html>
{{ end }}
