{{ define "analysis" }}
<!DOCTYPE html>
<html>
    {{ template "header" . }}
    <body>
        {{ template "navbar" . }}
        <section>
            <section class="lagna-chart">
            {{ range .Chart.Bhavas }}
                <section class="bhava-{{ .Number }}-wrapper">
                    <div class="bhava-{{ .Number }}" style="background-color: var(--{{ .RashiLord }}-color)">
                        <p id="graha">
                        {{ range .Grahas }}
                            {{ .Name }}<sup>{{ .Degree }}</sup>
                            {{ if .Retrograde }}
                                (R)
                            {{ end }}
                        {{ end }}
                        </p>
                        <p id="rashi-num">{{ .RashiNum }}</p>
                    </div>
                </section>
            {{ end }}
            </section>
            <div class="graha-attr">
                <table>
                    <caption>Graha Attributes</caption>
                    <thead>
                        <tr>
                            <th class="fixed-column">{{ .Name }}</th>
                            <th>{{ .Natural }} {{ .Friends }}</th>
                            <th>{{ .Natural }} {{ .Neutrals }}</th>
                            <th>{{ .Natural }} {{ .Enemies }}</th>
                            <th>{{ .Temporary }} {{ .Friends }}</th>
                            <th>{{ .Temporary }} {{ .Enemies }}</th>
                            <th>{{ .Effective }} {{ .Friends }}</th>
                            <th>{{ .Effective }} {{ .Neutrals }}</th>
                            <th>{{ .Effective }} {{ .Enemies }}</th>
                            <th>{{ .Nature }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{ range .Chart.GrahasAttr }}
                        <tr>
                            <th class="fixed-column">{{ .Name }}</th>
                            <td>{{ .NaturalFriends }}</td>
                            <td>{{ .NaturalNeutrals }}</td>
                            <td>{{ .NaturalEnemies }}</td>
                            <td>{{ .TemporaryFriends }}</td>
                            <td>{{ .TemporaryEnemies }}</td>
                            <td>{{ .EffectiveFriends }}</td>
                            <td>{{ .EffectiveNeutrals }}</td>
                            <td>{{ .EffectiveEnemies }}</td>
                            <td>{{ .Nature }}</td>
                        </tr>
                        {{ end }}
                    </tbody>
                </table>
            </div>
        </section>
    	{{ template "footer" . }}
    </body>
</html>
{{ end }}
