{{ define "doshas" }}
    {{ $lang := .User.Lang }}
    {{ $vocab := .Vocab }}
    {{ $chart := .Chart }}
    <article class="dosha-analysis">
        <article class="dosha-desc">
            {{ $dosha := GetMaanglikDosha $chart }}
            <ul class="no-list-styling">
                <li><b>{{ $vocab.Maanglik }}</b>: {{ YesOrNo $dosha.Present $lang }}</li>
                {{ if $dosha.Present }}
                    {{ range $dosha.Position }}
                        <li><b>{{ $vocab.Mars }} {{ $vocab.Position }} ({{ GetGrahaName .Reference $lang }})</b>: {{ GetNumber .BhavaNumber $lang }} ({{ GetSeverityStrength .Strength $lang }})</li>
                    {{ end }}
                {{ end }}
                <li><b>{{ $vocab.Moon }} {{ $vocab.Conjunction }}</b>: {{ YesOrNo $dosha.ConjunctWithMoon $lang }}</li>
                <li><b>{{ $vocab.Moon }} {{ $vocab.Aspect }}</b>: {{ YesOrNo $dosha.AspectedByMoon $lang }}</li>
                <li><b>{{ $vocab.Mars }} {{ $vocab.OwnRashi }}</b>: {{ YesOrNo $dosha.MarsInOwnRashi $lang }}</li>
                <li><b>{{ $vocab.Mars }} {{ $vocab.Aspect }} {{ $vocab.OwnRashi }}</b>: {{ YesOrNo $dosha.MarsAspectingOwnRashi $lang }}</li>
            </ul>
        </article>
        <article class="dosha-desc">
            {{ $dosha := GetKalaSarpaDosha $chart }}
            <ul class="no-list-styling">
                <li><b>{{ $vocab.KalaSarpaDosha }}</b>: {{ YesOrNo $dosha.Present $lang }}</li>
                {{ if $dosha.Present }}
                    <li><b>{{ $vocab.Type }}</b>: {{ GetKalaSarpaDoshaType $dosha.Type $lang }}</li>
                    {{ if $dosha.Axis }}
                        <li><b>{{ $vocab.Axis }}</b>: {{ GetAxis $dosha.Axis $lang }}</li>
                    {{ end }}
                {{ end }}
            </ul>
        </article>
        {{ $debilitatedGrahas := GetDebilitatedGrahas $chart }}
        {{ range $debilitatedGrahas }}
            <article class="dosha-desc">
                <ul class="no-list-styling">
                    <li><b>{{ $vocab.Debilitated }} {{ $vocab.Graha }}</b>: {{ GetGrahaName .Name $lang }}</li>
                    <li><b>{{ $vocab.Debilitated }} {{ $vocab.Rashi }} {{ $vocab.Lord }}</b>: {{ GetGrahaName .DebilitatedRashiLord $lang }}</li>
                    <li><b>{{ $vocab.Exalted }} {{ $vocab.Rashi }} {{ $vocab.Lord }}</b>: {{ GetGrahaName .ExaltedRashiLord $lang }}</li>
                    <li><b>{{ GetGrahaName .ExaltedRashiLord $lang }} {{ $vocab.Aspect }} {{ GetGrahaName .DebilitatedRashiLord $lang }}</b>: {{ YesOrNo .AspectedByExaltedRashiLord $lang }} </li>
                    {{ range .RashiLordRelativePosition }}
                        <li><b>{{ $vocab.Graha }}</b>: {{ GetGrahaName .Name $lang }}</li>
                        <li><b>{{ $vocab.InKendra }}</b> {{ YesOrNo .InKendra $lang }}</li>
                        <li><b>{{ $vocab.Reference }}</b> {{ GetGrahaName .Reference $lang }}</li>
                    {{ end }}
                </ul>
            </article>
        {{ end }}
        <br>
        <br>
        <br>
        <br>
        <br>
    </article>
{{ end }}