{{ define "edit-profile" }}
<!DOCTYPE html>
<html>
    {{ template "header" . }}
    <body>
        {{ template "navbar" . }}
        <section>
            <form action="/profiles/edit" method="post">
                <fieldset class="birth-details">
                    <legend>{{ .BirthDetails }}</legend>
                    {{ if .UserProfile }}
                    <input type="hidden" name="profile-id" value="{{ .UserProfile.ID }}">
                    {{ end }}

                    <div class="text-fields">
                        <label for="name" class="field-label">{{ .Name }}:</label>
                        {{ if .UserProfile }}
                            <input type="text" id="name" name="profile-name" value="{{ .UserProfile.Name }}" required>
                        {{ else }}
                            <input type="text" id="name" name="profile-name" required>
                        {{ end }}
                    </div>

                    <div class="text-fields">
                        <label for="dob" class="field-label">{{ .DateOfBirth }}:</label>
                        {{ if .UserProfile }}
                            <input type="datetime-local" id="dob" name="profile-dob" value={{ .UserProfile.DateOfBirth.Format "2006-01-02T15:04" }} required>
                        {{ else }}
                            <input type="datetime-local" id="dob" name="profile-dob" required>
                        {{ end }}
                    </div>

                    <div class="text-fields">
                        <label for="city" class="field-label">{{ .City }}:</label>
                        {{ if .UserProfile }}
                            <input type="text" id="city" name="profile-city" value="{{ .UserProfile.City }}" required>
                        {{ else }}
                            <input type="text" id="city" name="profile-city" required>
                        {{ end }}
                    </div>

                    <div class="text-fields">
                        <label for="state" class="field-label">{{ .State }}:</label>
                        {{ if .UserProfile }}
                            <input type="text" id="state" name="profile-state" value="{{ .UserProfile.State }}" required>
                        {{ else }}
                            <input type="text" id="state" name="profile-state" required>
                        {{ end }}
                    </div>

                    <div class="text-fields">
                        <label for="country" class="field-label">{{ .Country }}:</label>
                        {{ if .UserProfile }}
                            <input type="text" id="country" name="profile-country" value="{{ .UserProfile.Country }}" required>
                        {{ else }}
                            <input type="text" id="country" name="profile-country" required>
                        {{ end }}
                    </div>
                </fieldset>

                <fieldset>
                    <legend>{{ .ChartDetails }}</legend>

                    <div class="planets">
                        <label for="lagna" class="field-label">{{ .Lagna }}:</label>
                        {{ if .UserProfile }}
                            <input type="number" id="lagna" name="lagna-rashi" min="1" max="12" value={{ GetRashiNumber .UserProfile.Details "lagna" }} required>
                            <input type="number" id="lagna" name="lagna-degree" min="0.00" max="30.00" value={{ GetDegreeInRashi .UserProfile.Details "lagna" }} required>
                        {{ else }}
                            <input type="number" id="lagna" name="lagna-rashi" min="1" max="12" placeholder="{{ .RashiNumber }}" required>
                            <input type="number" id="lagna" name="lagna-degree" min="0.00" max="30.00" placeholder="{{ .DegreeInRashi }}" required>
                        {{ end }}
                    </div>

                    <div class="planets">
                        <label for="sun" class="field-label">{{ .Sun }}:</label>
                        {{ if .UserProfile }}
                            <input type="number" id="sun" name="sun-rashi" min="1" max="12" placeholder="{{ .RashiNumber }}" value={{ GetRashiNumber .UserProfile.Details "sun" }} required>
                            <input type="number" id="sun" name="sun-degree" min="0.00" max="30.00" placeholder="{{ .DegreeInRashi }}" value={{ GetDegreeInRashi .UserProfile.Details "sun" }} required>
                        {{ else }}
                            <input type="number" id="sun" name="sun-rashi" min="1" max="12" placeholder="{{ .RashiNumber }}" required>
                            <input type="number" id="sun" name="sun-degree" min="0.00" max="30.00" placeholder="{{ .DegreeInRashi }}" required>
                        {{ end }}
                    </div>

                    <div class="planets">
                        <label for="moon" class="field-label">{{ .Moon }}:</label>
                        {{ if .UserProfile }}
                            <input type="number" id="moon" name="moon-rashi" min="1" max="12" placeholder="{{ .RashiNumber }}" value={{ GetRashiNumber .UserProfile.Details "moon" }} required>
                            <input type="number" id="moon" name="moon-degree" min="0.00" max="30.00" placeholder="{{ .DegreeInRashi }}" value={{ GetDegreeInRashi .UserProfile.Details "moon" }} required>
                        {{ else }}
                            <input type="number" id="moon" name="moon-rashi" min="1" max="12" placeholder="{{ .RashiNumber }}" required>
                            <input type="number" id="moon" name="moon-degree" min="0.00" max="30.00" placeholder="{{ .DegreeInRashi }}" required>
                        {{ end }}
                    </div>

                    <div class="planets">
                        <label for="mars" class="field-label">{{ .Mars }}:</label>
                        {{ if .UserProfile }}
                            <input type="number" id="mars" name="mars-rashi" min="1" max="12" placeholder="{{ .RashiNumber }}" value={{ GetRashiNumber .UserProfile.Details "mars" }} required>
                            <input type="number" id="mars" name="mars-degree" min="0.00" max="30.00" placeholder="{{ .DegreeInRashi }}" value={{ GetDegreeInRashi .UserProfile.Details "mars" }} required>
                        {{ else }}
                            <input type="number" id="mars" name="mars-rashi" min="1" max="12" placeholder="{{ .RashiNumber }}" required>
                            <input type="number" id="mars" name="mars-degree" min="0.00" max="30.00" placeholder="{{ .DegreeInRashi }}" required>
                        {{ end }}
                    </div>

                    <div class="planets">
                        <label for="jupiter" class="field-label">{{ .Jupiter }}:</label>
                        {{ if .UserProfile }}
                            <input type="number" id="jupiter" name="jupiter-rashi" min="1" max="12" placeholder="{{ .RashiNumber }}" value={{ GetRashiNumber .UserProfile.Details "jupiter" }} required>
                            <input type="number" id="jupiter" name="jupiter-degree" min="0.00" max="30.00" placeholder="{{ .DegreeInRashi }}" value={{ GetDegreeInRashi .UserProfile.Details "jupiter" }} required>
                        {{ else }}
                            <input type="number" id="jupiter" name="jupiter-rashi" min="1" max="12" placeholder="{{ .RashiNumber }}" required>
                            <input type="number" id="jupiter" name="jupiter-degree" min="0.00" max="30.00" placeholder="{{ .DegreeInRashi }}" required>
                        {{ end }}
                    </div>

                    <div class="planets">
                        <label for="mercury" class="field-label">{{ .Mercury }}:</label>
                        {{ if .UserProfile }}
                            <input type="number" id="mercury" name="mercury-rashi" min="1" max="12" placeholder="{{ .RashiNumber }}" value={{ GetRashiNumber .UserProfile.Details "mercury" }} required>
                            <input type="number" id="mercury" name="mercury-degree" min="0.00" max="30.00" placeholder="{{ .DegreeInRashi }}" value={{ GetDegreeInRashi .UserProfile.Details "mercury" }} required>
                        {{ else }}
                            <input type="number" id="mercury" name="mercury-rashi" min="1" max="12" placeholder="{{ .RashiNumber }}" required>
                            <input type="number" id="mercury" name="mercury-degree" min="0.00" max="30.00" placeholder="{{ .DegreeInRashi }}" required>
                        {{ end }}
                    </div>

                    <div class="planets">
                        <label for="venus" class="field-label">{{ .Venus }}:</label>
                        {{ if .UserProfile }}
                            <input type="number" id="venus" name="venus-rashi" min="1" max="12" placeholder="{{ .RashiNumber }}" value={{ GetRashiNumber .UserProfile.Details "venus" }} required>
                            <input type="number" id="venus" name="venus-degree" min="0.00" max="30.00" placeholder="{{ .DegreeInRashi }}" value={{ GetDegreeInRashi .UserProfile.Details "venus" }} required>
                        {{ else }}
                            <input type="number" id="venus" name="venus-rashi" min="1" max="12" placeholder="{{ .RashiNumber }}" required>
                            <input type="number" id="venus" name="venus-degree" min="0.00" max="30.00" placeholder="{{ .DegreeInRashi }}" required>
                        {{ end }}
                    </div>

                    <div class="planets">
                        <label for="saturn" class="field-label">{{ .Saturn }}:</label>
                        {{ if .UserProfile }}
                            <input type="number" id="saturn" name="saturn-rashi" min="1" max="12" placeholder="{{ .RashiNumber }}" value={{ GetRashiNumber .UserProfile.Details "saturn" }} required>
                            <input type="number" id="saturn" name="saturn-degree" min="0.00" max="30.00" placeholder="{{ .DegreeInRashi }}" value={{ GetDegreeInRashi .UserProfile.Details "saturn" }} required>
                        {{ else }}
                            <input type="number" id="saturn" name="saturn-rashi" min="1" max="12" placeholder="{{ .RashiNumber }}" required>
                            <input type="number" id="saturn" name="saturn-degree" min="0.00" max="30.00" placeholder="{{ .DegreeInRashi }}" required>
                        {{ end }}
                    </div>

                    <div class="planets">
                        <label for="rahu" class="field-label">{{ .Rahu }}:</label>
                        {{ if .UserProfile }}
                            <input type="number" id="rahu" name="rahu-rashi" min="1" max="12" placeholder="{{ .RashiNumber }}" value={{ GetRashiNumber .UserProfile.Details "rahu" }} required>
                            <input type="number" id="rahu" name="rahu-degree" min="0.00" max="30.00" placeholder="{{ .DegreeInRashi }}" value={{ GetDegreeInRashi .UserProfile.Details "rahu" }} required>
                        {{ else }}
                            <input type="number" id="rahu" name="rahu-rashi" min="1" max="12" placeholder="{{ .RashiNumber }}" required>
                            <input type="number" id="rahu" name="rahu-degree" min="0.00" max="30.00" placeholder="{{ .DegreeInRashi }}" required>
                        {{ end }}
                    </div>

                    <div class="planets">
                        <label for="ketu" class="field-label">{{ .Ketu }}:</label>
                        {{ if .UserProfile }}
                            <input type="number" id="ketu" name="ketu-rashi" min="1" max="12" placeholder="{{ .RashiNumber }}" value={{ GetRashiNumber .UserProfile.Details "ketu" }} required>
                            <input type="number" id="ketu" name="ketu-degree" min="0.00" max="30.00" placeholder="{{ .DegreeInRashi }}" value={{ GetDegreeInRashi .UserProfile.Details "ketu" }} required>
                        {{ else }}
                            <input type="number" id="ketu" name="ketu-rashi" min="1" max="12" placeholder="{{ .RashiNumber }}" required>
                            <input type="number" id="ketu" name="ketu-degree" min="0.00" max="30.00" placeholder="{{ .DegreeInRashi }}" required>
                        {{ end }}
                    </div>
                </fieldset>

                <div class="submit-button">
                    <button type="submit">{{ .Save }}</button>
                </div>
            </form>
        </section>
    	{{ template "footer" . }}
    </body>
</html>
{{ end }}