{{ define "grahas-aspects" }}
    {{ $lang := .User.Lang }}
    {{ $vocab := .Vocab }}
    <div class="graha-attr">
        <table class="graha-attr-table">
            <caption>{{ $vocab.Graha}} {{ $vocab.Aspect }}</caption>
            <thead>
                <tr>
                    <th class="fixed-column">{{ $vocab.Name }}</th>
                    <th>{{ $vocab.FullAspect }}</th>
                    <th>{{ $vocab.ThreeQuarterAspect }}</th>
                    <th>{{ $vocab.HalfAspect }}</th>
                    <th>{{ $vocab.QuarterAspect }}</th>
                </tr>
            </thead>
            <tbody>
                {{ range .Chart.GrahasAttr }}
                <tr>
                    <th class="fixed-column">{{ GetGrahaName .Aspects.Name $lang }}</th>
                    <td>{{ ListOfGrahas .Aspects.FullAspect $lang }}</td>
                    <td>{{ ListOfGrahas .Aspects.ThreeQuarterAspect $lang }}</td>
                    <td>{{ ListOfGrahas .Aspects.HalfAspect $lang }}</td>
                    <td>{{ ListOfGrahas .Aspects.QuarterAspect $lang }}</td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
{{ end }}