{{ define "lagna-chart" }}
    {{ $lang := .User.Lang }}
    <section class="chart-container">
        <section class="lagna-chart">
        {{ range .Chart.Bhavas }}
            <section class="bhava-{{ .Number }}-wrapper">
                <div class="bhava-{{ .Number }}" style="background-color: var(--{{ .RashiLord.Name }}-color)">
                    <p id="graha">
                    {{ range .Grahas }}
                        {{ GetGrahaNameForChart . $lang }}
                    {{ end }}
                    </p>
                    <p id="rashi-num">{{ .RashiNum }}</p>
                </div>
            </section>
        {{ end }}
        </section>
    </section>
{{ end }}