{{ define "navbar" }}
<nav>
    <div>
        <a href="/">{{ .Home }}</a>
    </div>
    <div class="profiles">
        <a href="#">{{ .Profiles }}</a>
    </div>
    <div class="knowledge-base">
        <a href="/knowledge-base">{{ .KnowledgeBase }}</a>
    </div>
    <div class="faqs">
        <a href="/faqs">{{ .FAQs }}</a>
    </div>
    <div class="account">
        <a href="#">{{ .User.Name }}</a>
        <menu class="account-menu">
            <li><a href="/preferences">{{ .Preferences }}</a></li>
            <li><a href="/logout">{{ .Logout }}</a></li>
        </menu>
    </div>
</nav>
{{ end }}
